{% extends "estudiantes/base.html" %}
{% block subtitulo %} Acerca {% endblock subtitulo %}

{% block contenido%}
    <h1>Autor:</h1>
    <br>
    <h2>Alejandro Hernandez</h2>
    <br>
    <br>
    Creador de La universidad de la vida
    <br>
    El sistema de control de estudio tiene la siguiente finalidad
    <br>
    *Llevar un cotrol de los estudiantes
    <br>*Añadir, editar o eliminar cursos.
    <br>*Ver los proyectos de la institución
    <br>*Conocer los beneficios
    <br>*Conocer los requisitos para aprobar la universidad de la vida

    <br>*Sistema en constante cambio y actualización
        
    {% endblock contenido %}
