{% extends "estudiantes/base.html" %}

{% block estilos %}
h1.titulos-coder {
    color: green;
}

{% endblock estilos %}


{% block contenido%}
<a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
{% include "estudiantes/saludo.html" %}
    <h1 class="titulos-coder">Lista de estudiantes</h1>
    <nav class="navbar navbar-light bg-ligth static-top">
        <div class="container">
            
            
            <a class="navbar-brand" href="{% url 'beneficios' %}">Beneficios</a>
            
            <br>
           
        
        </div>
    </nav>

    <table class="table">
        <tbody>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Ver</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
            {% for estudiantes in object_list %}
            <tr>
                <td>{{ estudiantes.nombre }}</td>
                <td>{{ estudiantes.apellido }}</td>
                <td>
                    <a href="{% url 'ver_estudiantes' estudiantes.id %}">Ver</a>-                        
                </td>
                <td>
                    <a href="{% url 'editar_estudiantes' estudiantes.id %}">Editar</a>
                </td>
                <td>
                    <a href="{% url 'eliminar_estudiantes' estudiantes.id %}">Eliminar</a>
                </td>
                <td></td>
            </tr>
       
            {% endfor %}
        </tbody>
    
     
    </table>    
    </ul>


    <br>
    <br>
    <a class="btn btn-primary" href="{% url 'listar_cursos' %}">volver</a>
    <br>
    <br>
    {% endblock contenido%}